/*csslint ids: false, box-model: false*/

/*******************************
GENERAL
*******************************/

body {
    font-family: 'PT Serif', serif;
}

#wrapper {
    margin: 0 auto;
    /*Margin 0 is for all sides*/
    /*Values first one is top and button. Second one is left and right */
    /*max-width is related to width. But instead of width, max-width that it can be smaller for mobile devices/tablets*/
    max-width: 940px;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    color: blue;
    font-family: 'PT Serif', serif;
    font-size: 1em;
    line-height: 0.8em;
    margin: 0 0 1em 0;
}


/*******************************
HEADER
*******************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    margin: 0;
    /*our name and a description of who we are*/
    text-align: center;
}

h1 {
    color: blue;
    font-family: 'PT Serif', serif;
    font-size: 1.75em;
    line-height: 0.8em;
    margin: 15px 0;
}

h2 {
    font-size: 0.75em;
    /*1st value is for top. 2nd value is for left and right. 3rd value is for the bottom.*/
    font-weight: normal;
    margin: -5px 0 0;
    margin-bottom: 20px;
}


/*******************************
NAVIGATION
*******************************/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/*******************************
FOOTER
*******************************/

footer {
    clear: both;
    color: #ccc;
    font-size: 0.75em;
    padding-top: 50px;   
    text-align: center;
}

.social-media-icon {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}


/*******************************
PAGE PORTFOLIO
*******************************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: lightgrey;
    color: #bdc3c7;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li a p {
    color: black;
    font-size: 0.75em;
    margin: 2.5%;
    padding: 5%;
}


/*******************************
ABOUT ME PAGE
*******************************/

.profile-photo {
    border-radius: 25%;
    display: block;
    max-width:600px;
}


/*******************************
CONTACT PAGE
*******************************/


/*.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}*/

.contact-info a {
    /* by default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*re-size the background img*/
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact-info .mail a {
    background-image: url("..//img/image%20#1.jpg")
}

.contact-info .instagram a {
    background-image: url("..//img/instaham.jpg")
}


/*******************************
COLORS
*******************************/

body {
    background-color: black;
    color: #999;
}

a {
    color: #6ab47b;
}

header {
    background: #6ab47b;
}

nav {
    background: #599a68;
}


/*Pseudo-Class*/

nav a:visited {
    color: #fff;
}

.selected,
nav a:hover {
    color: #32673f;
}


/*******************************
MEDIA Querie
*******************************/


/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 400px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    /*THREE COLUMN LAYOUT PORTFOLIO*/
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 600px) {
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    header {
        border-bottom: 5px solid red;
    }
}























